<p id="notice"><%= notice %></p>

<p>
  <strong>Country:</strong>
  <%= @address.country %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Region:</strong>
  <%= @address.region %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @address.is_main %>
</p>

<p>
  <strong>Store:</strong>
  <%= @address.store_id %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
