<p id="notice"><%= notice %></p>

<p>
  <strong>Rate:</strong>
  <%= @rate.rate %>
</p>

<p>
  <strong>User:</strong>
  <%= @rate.user_id %>
</p>

<p>
  <strong>Book:</strong>
  <%= @rate.book_id %>
</p>

<%= link_to 'Edit', edit_rate_path(@rate) %> |
<%= link_to 'Back', rates_path %>
