<!DOCTYPE html>
<html>
  <head>
    <title>Booki Stores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'icon/book.svg' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <%= render 'layouts/header' %>
      <%= render 'layouts/messages' %>
    </header>

    <div class="yield container">
      <%= yield %>
    </div>

    <footer>
      <%= render 'layouts/intouch' %>
      <%= render 'layouts/footer' %>
    </footer>

    <%= yield :javascript_includes %>
    <%= javascript_pack_tag 'intouch', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
